In [10]:
with open('flights.txt') as x:
    f=x.read()
print(f)

 klass,seat_id,occupied,passenger
 First,1A,True,Alice Kim
 First,1C,False,
 Business,5A,True,B. Lee
 Business,5B,False,
 Business,6C,True,Carlos Diaz
 Economy,12A,False,
 Economy,12B,True,D. Singh
 Economy,13C,False,
 Economy,14A,True,E. Toktogul
 Economy,14B,False,

In [11]:
flights=[i.split(',') for i in f.split('\n')]
flights

[[' klass', 'seat_id', 'occupied', 'passenger'],
 [' First', '1A', 'True', 'Alice Kim'],
 [' First', '1C', 'False', ''],
 [' Business', '5A', 'True', 'B. Lee'],
 [' Business', '5B', 'False', ''],
 [' Business', '6C', 'True', 'Carlos Diaz'],
 [' Economy', '12A', 'False', ''],
 [' Economy', '12B', 'True', 'D. Singh'],
 [' Economy', '13C', 'False', ''],
 [' Economy', '14A', 'True', 'E. Toktogul'],
 [' Economy', '14B', 'False', '']]

In [12]:
def find_index(arr, target):
    for i, j in enumerate(arr[0]):
        if j==target:
            return i

In [13]:
def release_seat(arr, seat_id: str) -> bool:
    seat_index=find_index(arr[0],'seat_id')
    occupied_index=find_index(arr[0],'occupied')
    passenger_index=find_index(arr[0], 'passenger')
    for bilet in arr[1:]:
        if bilet[seat_index]==seat_id:
            bilet[occupied_index]='False'
            bilet[passenger_index]=''
        return True
    return False
print(release_seat(flights,'14A'))
flights

TypeError: list indices must be integers or slices, not NoneType

In [ ]:
flights=[[' klass', 'seat_id', 'occupied', 'passenger'],
 [' First', '1A', 'True', 'Alice Kim'],
 [' First', '1C', 'False', ''],
 [' Business', '5A', 'True', 'B. Lee'],
 [' Business', '5B', 'False', ''],
 [' Business', '6C', 'True', 'Carlos Diaz'],
 [' Economy', '12A', 'False', ''],
 [' Economy', '12B', 'True', 'D. Singh'],
 [' Economy', '13C', 'False', ''],
 [' Economy', '14A', 'True', 'E. Toktogul'],
 [' Economy', '14B', 'False', '']]          
def find_index(arr, target):
    for i, j in enumerate(arr[0]):
        if j==target:
            return i
def release_seat(arr, seat_id: str) -> bool:
    seat_index=find_index(arr[0],'seat_id')
    occupied_index=find_index(arr[0],'occupied')
    passenger_index=find_index(arr[0], 'passenger')
    for bilet in arr[1:]:
        if bilet[seat_index]==seat_id:
            bilet[occupied_index]='False'
            bilet[passenger_index]=''
            return True
    return False
print(release_seat(flights, '14A'))

SyntaxError: invalid non-printable character U+00A0 (2458111574.py, line 26)

In [ ]:
flights = [
    [' klass', 'seat_id', 'occupied', 'passenger'],
    [' First', '1A', 'True', 'Alice Kim'],
    [' First', '1C', 'False', ''],
    [' Business', '5A', 'True', 'B. Lee'],
    [' Business', '5B', 'False', ''],
    [' Business', '6C', 'True', 'Carlos Diaz'],
    [' Economy', '12A', 'False', ''],
    [' Economy', '12B', 'True', 'D. Singh'],
    [' Economy', '13C', 'False', ''],
    [' Economy', '14A', 'True', 'E. Toktogul'],
    [' Economy', '14B', 'False', '']
]

# Убираем пробелы в заголовках
flights[0] = [col.strip() for col in flights[0]]

def find_index(arr, target):
    for i, j in enumerate(arr[0]):
        if j == target:
            return i
    return -1

def release_seat(arr, seat_id: str) -> bool:
    seat_index = find_index(arr, 'seat_id')
    occupied_index = find_index(arr, 'occupied')
    passenger_index = find_index(arr, 'passenger')
    
    for bilet in arr[1:]:
        if bilet[seat_index] == seat_id:
            bilet[occupied_index] = 'False'
            bilet[passenger_index] = ''
            return True
    return False

print(release_seat(flights, '14A'))  # Выведет True

True
[' Economy', '14A', 'False', '']

In [31]:
def remove_seat(arr, seat_id: str) -> bool:
    seat_index = find_index(arr, 'seat_id')
    occupied_index = find_index(arr, 'occupied')
    passenger_index = find_index(arr, 'passenger')
    for seat in arr[1:]:
        if seat[seat_index]==seat_id:
            arr.remove(seat)
            return True
    return False
print(remove_seat(flights, '12A'))
flights

True

[[' klass', 'seat_id', 'occupied', 'passenger'],
 [' First', '1A', 'True', 'Alice Kim'],
 [' First', '1C', 'False', ''],
 [' Business', '5A', 'True', 'B. Lee'],
 [' Business', '5B', 'False', ''],
 [' Business', '6C', 'True', 'Carlos Diaz'],
 [' Economy', '12B', 'True', 'D. Singh'],
 [' Economy', '13C', 'False', '']]

In [ ]:
def seats_in_row(arr, row: str) -> list[str]:
    listik=[]
    seat_index = find_index(arr, 'seat_id')
    occupied_index = find_index(arr, 'occupied')
    for seat in arr[1:]:
        if seat[seat_index].startswith(row) and seat[occupied_index]=='False':
            listik.append(seat)
    return listik
print(seats_in_row(flights, '1'))

[[' First', '1C', 'False', ''], [' Economy', '13C', 'False', '']]